
header{
font-family: "Dancing Script";
background: #5b7989;
color: white;
height: 100px;
border-radius: 10px;
width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
left: 0; /* Posicionamos la cabecera al lado izquierdo */
top: 0; /* Posicionamos la cabecera pegada arriba */

/*  fuente: https://franciscoamk.com/como-crear-una-fija-estatica-con-html-y-css/*/
}
body{
  font-family: "Dancing Script";
  background-color: #02010a;
}
header h1{
  text-shadow:  2px 2px 2px #02010a ;
  text-align: left;
}
p{
  font-size: 1.5em;
}
nav{
  text-align: right;
  display: inline;
}
#SinSubrayado {
  text-decoration:none;
}
.ContenedorCentral{
	display: flex;
	flex-flow: row wrap;
  text-align: center;
  background-color:  #82c3a6;
}
.ImagenCentral img{
width:80%;
text-align: center;
margin: auto;
border-radius: 10px;
}
.secondaryPictureContainer{
  background-color: #d5c75f;
  border: 1px solid;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.secondaryPictureItem{
  width: 50%;
  padding-top: 1em;
  padding-bottom: 1em;
}

.secondaryPictureItem img{
  display: block;
  margin: auto;
  width: 60%;
}

@media screen and (max-width: 900px){

.secondaryPictureContainer{
      flex-flow: column nowrap !important;
    }

    .secondaryPictureItem{
      width: 100% !important;
    }
    footer{
        flex-flow: column nowrap !important;
    }
  }
#secondaryPictureLeft:hover{
  transform: rotate(15deg);
  text-shadow: #82c3a6 solid;
  border: 2px solid;
}
#secondaryPictureRight:hover{
transform: translate(20px,-5px);
transition-duration: 0.5s;
text-shadow:  #82c3a6 solid;
border: 2px solid;
}
footer{
    display: inline-flex;
    flex-flow: row nowrap;
    background-color: #C6d5c5;
    width: 100%;
}
.DERECHOS{
  margin: 50PX;
  padding: 10px;
}
.social{
  margin: 50PX;
  padding: 10px;
}
.Terminos{
  margin: 50PX;
  padding: 10px;
}
.Contactos{
  margin: 50PX;
  padding: 10px;
}
.social img{
  border-radius: 10px;
}
.Contactos img{
  border-radius: 10px;
}
img{
  text-shadow: #02010a;
  border: 2px;
}
.ContenedorFotos{
  background-color: #d5c75f;
  border: 1px solid;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  padding-top: 1em;
  padding-bottom: 1em;

}

.ContenedorFotos  img{
  display: block;
  margin: auto;
  width: 60%;
}
@media screen and (max-width: 900px){

.ContenedorFotos{
      flex-flow: column nowrap !important;
    }

    .ContenedorFotos{
      width: 100% !important;
    }
    footer{
        flex-flow: column nowrap !important;
    }
  }
